# General
PROJECT_NAME="Validador RIF SENIAT"
TZ=America/Caracas

# Base de Datos (Usada por DB, N8N y FastAPI)
DB_POSTGRESDB_USER=Admin
SERVER_PASSWORD=password_admin
DB_POSTGRESDB_DATABASE=n8n_db
DB_HOST=db

# N8N
N8N_HOST=localhost
N8N_ENCRYPTION_KEY=clave_n8n
EXECUTIONS_DATA_PRUNE=true
EXECUTIONS_DATA_MAX_AGE=168
NODE_FUNCTION_ALLOW_EXTERNAL=pandas,requests
N8N_PAYLOAD_SIZE_MAX=100

#SCRAPING / CONCURRENCIA
MAX_CONCURRENCY=5

# FastAPI y Mistral
FASTAPI_API_KEY=api_key_fastapi_segura
MISTRAL_API_KEY=v7x_tu_clave_real_de_mistral_aqui